/* ~~~~~ threeBx CSS ~~~~~ */
.threeBx {width: 100%;display: block;padding: 50px 0;background-color: var(--pale-cyan-blue);}
.threeBx .container .parent { height: auto; display: grid; grid-gap: 1rem; grid-template-columns: repeat(3, 1fr); }
.threeBx .container .visual { height: 100px; width: 100%; }
.threeBx .container .card { display: flex; flex-direction: column; padding: 1rem; justify-content: space-between; }
.threeBx .container h3 { margin: 0; }
.threeBx .yellow { background-color: #fee8b4; border: 1px solid #ffd675; }
.threeBx .pink { background-color: #f5e0e9; border: 1px solid #f9bed6; }
.threeBx .blue { background-color: #a9e2ea; border: 1px solid #81cfd9; }
.threeBx .green { background-color: #d4f2c4; border: 1px solid #b9dba9; }