/************** Base CSS **************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

/* ~~~~~ Root CSS ~~~~~ */
:root {
--black: #000000;
--white: #ffffff;
--cyan-bluish-gray: #abb8c3;
--pale-pink: #f78da7;
--red: #cf2e2e;
--orange: #ff6900;
--amber: #fcb900;
--light-green-cyan: #7bdcb5;
--green-cyan: #00d084;
--pale-cyan-blue: #8ed1fc;
--cyan-blue: #0693e3;
--purple: #9b51e0;
--bodycolor: #221b1b;
--headingFonts: "Roboto", sans-serif;
--transition: all 0.3s linear;
--spacing: 0.25rem;
--radius: 0.5rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* ~~~~~ / Root CSS ~~~~~ */

* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);font-variant-ligatures: none;}
html, body.up, div, span, applet, object, iframe, a, img, select, input, option { margin: 0; padding: 0; border: 0; outline: 0; }
html { -webkit-text-size-adjust: none; overflow-x: hidden !important;}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; box-shadow: none; }
input[type="button"], input[type="submit"] {appearance: none; -webkit-appearance: none !important; }
a { text-decoration: none; }
img { border: 0 none; max-width: 100%; vertical-align: top; }
a { outline: none; cursor: pointer; }
a:hover { text-decoration: none; }
/* :focus { border: 1px solid red !important; } */
:focus { outline: 0; }
sup {font-size: 90%;position: relative;top: 0.3em;line-height: 0.8;}
sup.reg {font-size: 55%;top: 0;}
.clear { clear: both; }
img { max-width: 100%; }
button:focus {outline:0;}
.text-transform { text-transform: uppercase; }
.preloader { display: none; }
img { vertical-align: bottom; }

select::-ms-expand {display: none;}
input::-ms-clear { display:none;}
*:before, *:after {box-sizing: border-box;}

.bg {background-size: cover;background-position: center center;background-repeat: no-repeat;}


/* ~~~~~ Typography CSS ~~~~~ */
:is(h1,h2,h3,h4,h5,h6) {font-family: var(--GTWalsheimPro);line-height: 1.2;letter-spacing: 0em;}
h1 {font-size: 65px;color: var(--color3);font-weight: var(--medium);}
h2 {font-size: 44px;color: var(--color3);font-weight: var(--medium);}
h3 {font-size: 30px;color: var(--color3);font-weight: var(--medium);}
h4 {font-size: 24px;color: var(--color2);font-weight: var(--normal);line-height: 1.4;}
h5 {font-size: 22px;color: var(--color3);font-weight: var(--medium);}
h6 {font-size: 20px;color: var(--color3);font-weight: var(--medium);}
p  {font-size: 16px;color: var(--color2);font-weight: var(--normal);letter-spacing: 0em;line-height: 1.4;font-family: var(--GTWalsheimPro);}
/* ~~~~~ / Typography CSS ~~~~~ */


/* ~~~~~ Flex Container ~~~~~ */
.flex-container { width: 100%; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 1 auto; flex: 0 1 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.flex-end {justify-content: flex-end; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end }
.flex-start {-webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.flex-center {-webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.flex-item { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding-left: 15px; padding-right: 15px; }
/* ~~~~~ / Flex Container ~~~~~ */

/* ~~~~~ Highlighted Text CSS ~~~~~ */
::-moz-selection { color:var(--white); background:#3399FF; text-shadow:none; }
::selection { color: var(--white); background:#3399FF; text-shadow: none; }
::placeholder,
::-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder,
:placeholder-shown { color: var(--white); opacity:1; }
::-webkit-input-placeholder{opacity:1!important;color: var(--white) !important;}
::-moz-placeholder{opacity:1!important;color: var(--white) !important;}
::-ms-input-placeholder{opacity:1!important;color: var(--white) !important;}
/* ~~~~~ / Highlighted Text CSS ~~~~~ */

/* ~~~~~ Form CSS ~~~~~ */
input::-webkit-input-placeholder { color: var(--white); opacity:1; } /* WebKit browsers */
input:-moz-placeholder { color: var(--white); opacity:1; } /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder { color: var(--white); opacity:1; } /* Mozilla Firefox 19+ */
input:-ms-input-placeholder { color: var(--white); opacity:1; } /* Internet Explorer 10+ */
textarea::-webkit-input-placeholder { color:var(--white); opacity:1; } /* WebKit browsers */
textarea:-moz-placeholder { color: var(--white); opacity:1; } /* Mozilla Firefox 4 to 18 */
textarea::-moz-placeholder { color: var(--white); opacity:1; } /* Mozilla Firefox 19+ */
textarea:-ms-input-placeholder { color: var(--white); opacity:1; } /* Internet Explorer 10+ */

select::-ms-expand {display: none;}
input::-ms-clear { display:none;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 100px #EAEAEA inset; -moz-box-shadow: 0 0 0 100px #EAEAEA inset; box-shadow: 0 0 0 100px #EAEAEA inset; color: #EAEAEA; -webkit-text-fill-color: #EAEAEA; }
/* ~~~~~ / Form CSS ~~~~~ */

/* ~~~~~ Main CSS ~~~~~ */
body{ margin: 0; padding: 0; font-size: 16px; color: var(--bodycolor); background: var(--white); font-family: var(--headingFonts); font-weight: 400;}
.wrapper { width: 100%; transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s;overflow-x: hidden;}
.container {max-width: 1200px;padding: 0 15px;margin: 0 auto;}
a, button { transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; }
.btn_all a {background-color: var(--color7);border: 1px solid var(--color7);color: var(--color1);font-size: 16px;line-height: 1;padding: 15px 23px;font-family: var(--headingFonts);font-weight: var(--medium);border-radius: 5px;letter-spacing: 0em;display: inline-block;vertical-align: middle;}
.btn_all a:hover { background-color: var(--color5);border-color: var(--color5);color: var(--color1);}
/* ~~~~~ / Main CSS ~~~~~ */
.scroll-line {height:5px;margin-bottom:-5px;background:#f00;width:0%;position: absolute;left: 0;bottom: 0;}
.bgFix {background-attachment: fixed;}
.bgImg {background-repeat: no-repeat;background-size: cover;background-position: center center;}

/* ~~~~~ header CSS ~~~~~ */
header {padding: 30px 0;background-color: var(--cyan-bluish-gray);width: 100%;display: block;position: relative;z-index: 9999;}
header .headerInner {display: flex;justify-content: space-between;align-items: center;}
header .logo {font-size: 20px;line-height: 1.2;color: var(--color6);font-weight: 700;}
header ul {display: flex;flex-wrap: wrap;transition: 0.5s; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s;}
header li {list-style: none;margin: 0px;}
header li a {font-family: var(--headingFonts);font-size: 16px;line-height: 1.2;color: var(--color6);padding: 0 20px;}
header li a:hover,header li a:focus {color: var(--white);}
#marker { position: absolute; top: 0; height: 40px; margin-top: 22px; background: #2196f3; border-radius: 2px; transition: 0.5s; z-index: -1;}
.fixed-header { position: fixed; top:0; left:0; width: 100%; }

/* ~~~~~ threeBx CSS ~~~~~ */
.threeBx {width: 100%;display: block;padding: 50px 0;background-color: var(--pale-cyan-blue);}
.threeBx .container .parent { height: auto; display: grid; grid-gap: 1rem; grid-template-columns: repeat(3, 1fr); }
.threeBx .container .visual { height: 100px; width: 100%; }
.threeBx .container .card { display: flex; flex-direction: column; padding: 1rem; justify-content: space-between; }
.threeBx .container h3 { margin: 0; }
.threeBx .yellow { background-color: #fee8b4; border: 1px solid #ffd675; }
.threeBx .pink { background-color: #f5e0e9; border: 1px solid #f9bed6; }
.threeBx .blue { background-color: #a9e2ea; border: 1px solid #81cfd9; }
.threeBx .green { background-color: #d4f2c4; border: 1px solid #b9dba9; }


/* ~~~~~ threeBx CSS ~~~~~ */
.posterSec {width: 100%;display: block;padding: 50px 0;background-color: var(--amber);}
.posterSec .posterMain {display: flex;justify-content: space-between;gap: 20px;}
.posterSec .card { width: 25%; font-family: 'PT Serif', serif; position:relative; /* top:50%; left:50%; transform:translate(-50%,-50%); */ width:300px; height:450px; background:#000; overflow:hidden; box-shadow:0 5px 10px rgba(0,0,0,0.5); }
.posterSec .card .poster { position:relative; overflow:hidden; }
.posterSec .card .poster:before { content:''; position:absolute; bottom:-182px; left:0; width:100%; height:100%; background: linear-gradient(0deg, #000 50%, transparent); transition:0.5s; z-index:1; }
.posterSec .card:hover .poster:before { bottom:0; }
.posterSec .card .poster img { width:100%; transition:0.5s; }
.posterSec .card:hover .poster img { filter:blur(5px); transform:translateY(-50px); }
.posterSec .details { position:absolute; padding:20px; width:100%; height: 86%; bottom: -215px; left:0; box-sizing:border-box; transition:0.5s; z-index:2; }
.posterSec .card:hover .details { bottom: 0; }
.posterSec .details h2 { color:#fff; margin:0; padding:0; font-size:20px; }
.posterSec .details h2 span { font-size:14px; color:#ff9800; }
.posterSec .rating { position:relative; padding:5px 0; }
.posterSec .rating .fa { color:#f7f406; margin-right:2px; font-size:16px; }
.posterSec .rating span { color:#fff; }
.posterSec .tags { position:relative; margin-top:5px; }
.posterSec .tags span { padding:2px 5px; margin-right:2px; color:#fff; display:inline-block; border-radius:4px; }
.posterSec .tags span.fantasy { background:#7206f7; }
.posterSec .tags span.romance { background:#f70661; }
.posterSec .info { color:#fff; }
.posterSec .info p { margin:15px 0 10px; }
.posterSec .star { position:relative; }
.posterSec .star h4 { margin:0; padding:0; font-size:20px; color:#f7f406; }
.posterSec .star ul { margin:10px 0 0; padding:0; display:flex; }
.posterSec .star ul li { list-style:none; width:35px; height:35px; background:#fff; border-radius:50%; overflow:hidden; margin-right:6px; border:2px solid #fff; }
.posterSec .star ul li img { width:100%; }

/* ~~~~~ threeBx CSS ~~~~~ */
.quoteSec {width: 100%;display: block;padding: 100px 0;background-color: var(--light-green-cyan);}
.quoteSec .box { /*position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);*/margin:0 auto; width: 500px; height: 400px; cursor: pointer; transform-style: preserve-3d; perspective: 2000px; transition: 0.5s; }
.quoteSec .box:hover { transform:  rotateY(-30deg) skewY(5deg); }
.quoteSec .box:before { content:''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; border-top: 20px solid #fff; border-left: 20px solid #fff; box-sizing: border-box; }
.quoteSec .box:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; border-bottom: 20px solid #fff; border-right: 20px solid #fff; box-sizing: border-box; }
.quoteSec .box .text { position: absolute; top: 30px; left: -30px; background: #262626; width: calc(100% + 60px); height: calc(100% - 60px); transition: 0.5s; }
.quoteSec .box:hover .text { transform:rotateY(30deg) skewY(-5deg); }
.quoteSec .text div { position: absolute; top: 50%; left: 0; width: 100%; transform:translateY(-50%); padding: 40px 80px; box-sizing: border-box; text-align: center; }
.quoteSec .text div h1 { margin: 0 0 20px; padding: 0; color: #fff; }
.quoteSec .text div p { margin: 0 0 20px; padding: 0; color: #fff; font-size: 18px; }
.quoteSec .fa { width: 80px; height: 80px; background: #fff; color: #262626; text-align: center; line-height: 80px !important; font-size: 40px !important; }
.quoteSec .fa.fa1 { position: absolute; top: 0; left: 0; }
.quoteSec .fa.fa2 { position: absolute; bottom: 0; right: 0; z-index: 1; }


/* ~~~~~ multiLayer CSS ~~~~~ */
.multiLayer {width: 100%;display: block;padding: 100px 0;background-color: var(--orange);}
.multiLayer .multiLayerMain {display: flex;justify-content: space-between;gap: 20px;}
.multiLayer .box { /* position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); */ position:relative;width:300px; height:300px; }
.multiLayer .box .layer1 { position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid #fff; padding:20px; box-sizing:border-box; transition:0.5s; background:#949438; overflow:hidden; z-index:3; }
.multiLayer .box .layer1:before { content:''; position:absolute; top:0; left:-110%; width:100%; height:100%; background:rgba(255,255,255,.1); pointer-events:none; transition:0.5s; transform:skewX(-5deg); }
.multiLayer .box:hover .layer1 { top:-10px; left:10px; box-shadow:0 5px 20px rgba(0,0,0,1); }
.multiLayer .box:hover .layer1:before { left:-50%; }
.multiLayer .box .layer2 { position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid #fff; box-sizing:border-box; background:#e91e63; transition:0.5s; z-index:2; }
.multiLayer .box:hover .layer2 { top:0px; left:0px; box-shadow:0 5px 20px rgba(0,0,0,1); }
.multiLayer .box .layer3 { position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid #fff; box-sizing:border-box; transition:0.5s; background:#03a9f4; z-index:1; }
.multiLayer .box:hover .layer3 { top:10px; left:-10px; box-shadow:0 20px 50px rgba(0,0,0,1); }

/* ~~~~~ Image Slider CSS ~~~~~ */
.Imgslider {width: 100%;display: block;padding: 100px 0;background-color: var(--purple);}
.Imgslider .slick-list {margin-left: -32px;margin-right: -32px;}
.Imgslider .sliderItem {position: relative;z-index: 0; margin: 10px; -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); -webkit-transform: scale(0.95); opacity: 0.5; transform: scale(0.95);}
.Imgslider .sliderItem.slick-center { -moz-transform: scale(1.08); -ms-transform: scale(1.08); -o-transform: scale(1.08); -webkit-transform: scale(1.08); opacity: 1; transform: scale(1.08); }
.Imgslider .slick-arrow { font-size: 0px !important; color: transparent; }
.Imgslider .slider .slick-arrow { position: absolute; background: #3c3b6e; opacity: 0.7; bottom: -40px; z-index: 1; width: 3rem; height: 3rem; transform: translateY(-50%); padding: 0; overflow: hidden; font-size: 20px; background-repeat: no-repeat; background-position: center; background-size: cover; border: 1px solid #fff; border-radius: 0%; cursor: pointer; outline: none; transition: 0.25s; }
.Imgslider .slider .slick-arrow:hover, .slider .slick-arrow:focus { border-color: white; color: #b22234; background: #b22234; opacity: 0.95; }
.Imgslider .slider .slick-arrow:active { transform: translateY(-50%) scale(0.9); }
.Imgslider .slider .slick-prev { right: 180px; }
.Imgslider .slider .slick-next { right: 100px; }
.Imgslider .slick-prev:before {content: "←";color: #b22234;font-size: 30px;cursor: pointer;padding: 0 10px;}  
.Imgslider .slick-next:before {content: "→";color: #b22234;font-size: 30px;cursor: pointer;padding: 0 10px;}
.Imgslider .slick-slide img { width: 100%; height: 100%; max-width: 100%; -o-object-fit: cover; object-fit: cover; }
/* Position Slick dots container down some */
.Imgslider .slick-dots > .slick-active { color: #b22234; font-weight: bold; }
.Imgslider .slick-dots button { background: transparent; color: white; border: 1px solid white; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px; cursor: pointer; opacity: 0.8; }
.Imgslider .slick-dots {list-style: none;border-radius: 50%;transition: 0.2s;padding: 0;position: relative;width: 100%;margin: 30px auto 0;text-align: center;}
.Imgslider .slick-dots li { display: inline-block; vertical-align: top; margin: 0 8px; }
.Imgslider .slick-dots li:last-child {margin-right: 0;}
.Imgslider .slick-dots li button { border: none; cursor: pointer; font-size: 13px; border: 1px solid #fff; box-shadow: 0 0 0 0 transparent; color: #fff; background-color: transparent; transition: all 0.3s ease; opacity: 0.4; }
.Imgslider .slick-dots li button:focus { outline: none; }
.Imgslider .slick-dots li button:hover { opacity: 1; background: #3c3b6e; }
.Imgslider .slick-dots li.slick-active button { background: #b22234; box-shadow: 0 0 0 1px #fff; opacity: 0.9; }
.Imgslider .imgSliderMain {position: relative;z-index: 0;padding: 50px 0 0;}
.Imgslider button.slick-prev {position: absolute;top: 0;right: 60px;}
.Imgslider button.slick-next {position: absolute;top: 0;right: 0;}
.Imgslider .capText { position: absolute; bottom: 0; left: 0; right: 0; text-align: center; padding: 1rem; text-shadow: 1px 1px  20px black; }
.Imgslider .capText h2 {color: var(--white);font-size: 36px;}
.Imgslider .capText p {color: var(--white);font-size: 16px;}

/* ~~~~~ Countdown CSS ~~~~~ */
.Countdown {width: 100%;display: block;padding: 100px 0;background-color: var(--purple);}
.Countdown h2 {color: var(--white);}
.Countdown .CountdownMain {text-align: center;}
.Countdown li { display: inline-block; font-size: 1.5em; list-style-type: none; padding: 1em; text-transform: uppercase; color: var(--white);}
.Countdown li span { display: block; font-size: 4.5rem; }

/* ~~~~~ Slider with CSS ~~~~~ */
.sliderWidthCSS {width: 100%;display: block;padding: 100px 0;background-color: var(--cyan-blue);position: relative;z-index: 0;overflow-x: hidden;}
.sliderWidthCSS .slider {position: relative;top: 0;left: 0;width: 500%;animation: animate 10s linear infinite;display: flex;align-items: center;}
.sliderWidthCSS .slider .slide {position: relative;width: 20%;min-height: 220px;}
.sliderWidthCSS .slider .slide .caption {position: absolute;bottom: 0;right: 60px;left: 60px;padding: 30px;background-color: rgba(0,0,0,.5);box-sizing:border-box;transition: 0.5s;}
.sliderWidthCSS .slider .slide .caption h2 { margin: 0; padding: 0; color: #fff; font-size: 48px; transition: 0.5s; }
.sliderWidthCSS .slider .slide .caption p { margin: 0; padding: 0; color: #fff; font-size: 18px; transition: 0.5s; }
.sliderWidthCSS .slider .slide.slide1 { background: url(https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg); background-size: cover; background-position: center; }
.sliderWidthCSS .slider .slide.slide2 { background: url(https://www.planwallpaper.com/static/images/963840d34c51efe6fbe57749fb434646.jpg); background-size: cover; background-position: center; }
.sliderWidthCSS .slider .slide.slide3 { background: url(https://www.planwallpaper.com/static/images/HD-Wallpapers-B1.jpg); background-size: cover; background-position: center; }
.sliderWidthCSS .slider .slide.slide4 { background: url(https://www.planwallpaper.com/static/images/beach-cool-wallpaper-hd_1_tKvqLtf.jpg); background-size: cover; background-position: center; }

@keyframes animate { 0% { left: 0; } 20% { left: 0; } 25% { left: -100%; } 45% { left: -100%; } 50% { left: -200%; } 70% { left: -200%; } 75% { left: -300%; } 95% { left: -300%; } 100% { left: -400%; } }


/* ~~~~~ counterBx CSS ~~~~~ */
.counterBx {width: 100%;display: block;padding: 100px 0;background-color: var(--amber);position: relative;z-index: 0;}


/* ~~~~~ counterBx CSS ~~~~~ */
.FormAnimated {width: 100%;display: block;padding: 100px 0;background-color: var(--cyan-bluish-gray);position: relative;z-index: 0;}
.FormAnimated form {margin: 0 auto; display: flex;flex-wrap: wrap; max-width: 768px; width: 100%; background: rgba(255, 235, 0, 0.5); padding: 50px 50px 15px 50px; border-style: solid; border-color: #a55eea; border-width: 0 4px; transition: 0.5s; } 
.FormAnimated form:hover { background: #ffeb00; }
.FormAnimated form h1 { color: #000; text-align: center; margin-bottom: 40px; text-transform: uppercase; }
.FormAnimated form .col { padding: 0 10px; box-sizing: border-box; }
.FormAnimated form .col-6 { width: 50%; }
.FormAnimated form .col-12 { width: 100%; }
.FormAnimated form input, .FormAnimated form textarea { position: relative; width: 100%; height: 35px; color: #000; background: transparent; padding: 8px 10px; border-radius: 5px; box-sizing: border-box; border: 1px solid rgba(0, 0, 0, 0.3); z-index: 1; }
.FormAnimated form textarea { height: 100px; }
.FormAnimated form .inputbox { position: relative; margin-bottom: 35px; }
.FormAnimated form .inputbox .inputtext { position: absolute; top: 10px; left: 20px; color: #000; opacity: 0.5; font-size: 12px; transition: 0.5s; }
.FormAnimated form .focus .inputtext { font-size: 18px; left: 10px; transform: translateY(-35px); opacity: 1; }

/* ~~~~~ cardHoverEffect CSS ~~~~~ */
.cardHoverEffect {width: 100%;display: block;padding: 100px 0;background-color: var(--cyan-blue);position: relative;z-index: 0;}
.cardHoverEffect .cardheMain { width: 100%; padding: 0 30px; display: grid; grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); grid-gap: 15px; margin: 0 auto; }
.cardHoverEffect .card { position: relative; width: 300px; height: 400px; margin: 0 auto; background: #fff; transition: 0.5s; }
.cardHoverEffect .card .face { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; }
.cardHoverEffect .card .face h2 { margin-top: 100px; }
.cardHoverEffect .card .face a { display: inline-block; padding: 5px 10px; margin-top: 20px; text-decoration: none; color: #013d4a; border: 2px solid #013d4a; transition: all 0.5s; }
.cardHoverEffect .card .face a:hover { background: #013d4a; color: #fff; }
.cardHoverEffect .card .face1 { box-sizing: border-box; padding: 20px; text-align: center; background: #fff; color: #013d4a; }
.cardHoverEffect .card .face2 { background: #013d4a; transition: 0.5s; }
.cardHoverEffect .card .face2 h2 { margin: 0; padding: 0; font-size: 10em; color: #fff; transition: 0.5s; }
.cardHoverEffect .card:hover { box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2); }
.cardHoverEffect .card:hover .face2 { color: #013d4a; height: 80px; width: 80px; border-radius: 50%; top: 30px; left: 50%; transform: translateX(-50%); background: transparent; border: 2px solid #013d4a; }
.cardHoverEffect .card:hover .face2 h2 { color: #013d4a; font-size: 2em; }


/* ~~~~~ cardHoverEffect CSS ~~~~~ */
.multicolumn {width: 100%;display: block;padding: 50px 0;background-color: var(--green-cyan);position: relative;z-index: 0;}
.multi_column { width: 900px; margin: 0 auto; column-count: 4; column-rule: 1px solid #000; }
.multi_column div { margin-bottom: 10px; padding: 16px; border: 1px solid #000; }
.multi_column div:nth-child(2n + 0) { background: #cae4ff; }
.multi_column div:nth-child(2n + 1) { background: #a4d1ff; }

/* ~~~~~ accordionSec CSS ~~~~~ */
.accordionSec {width: 100%;display: block;padding: 50px 0;background-color: var(--purple);position: relative;z-index: 0;}
.accordionSec .description { margin: 1em auto 2.25em; }
.accordionSec ul {list-style: none;}
.accordionSec ul .sub-menu { padding-left: 1em; overflow: hidden; display: none; }
.accordionSec ul li { margin: 0.5em 0; }
.accordionSec ul li a.parent-menu { width: 100%; display: block; background: rgba(0, 0, 0, 0.78); color: #fefefe; padding: 0.75em; border-radius: 0.15em; transition: background 0.3s ease; }
.accordionSec ul li a.parent-menu:hover { background: rgba(0, 0, 0, 0.9); }

/* ~~~~~ accordionSec CSS ~~~~~ */
.simpleTabs {width: 100%;display: block;padding: 50px 0;background-color: var(--light-green-cyan);position: relative;z-index: 0;}
.simpleTabs .simpleTabsMain {text-align: center;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;width: 100%;margin: 0 auto;}
.simpleTabs ul, .simpleTabs li { background: hsla(0, 0%, 0%, 0); border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline; font: 13px/20px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif; text-shadow: 0 1px 0 hsl(0, 100%, 100%); }
.simpleTabs li { display: list-item; text-align: -webkit-match-parent; }
.simpleTabs .tabs-nav {list-style: none;margin: 0;padding: 0;width: 100%;display: flex;justify-content: center;}
.simpleTabs .tabs-nav li:first-child a { border-right: 0; -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.simpleTabs .tabs-nav .tab-active a { background: hsl(0, 100%, 100%); border-bottom-color: hsla(0, 0%, 0%, 0); color: hsl(85, 54%, 51%); cursor: default; }
.simpleTabs .tabs-nav a {background: hsl(120, 11%, 96%);border: 1px solid hsl(210, 6%, 79%);color: hsl(215, 6%, 57%);display: block;font-size: 11px;font-weight: bold;height: 40px;line-height: 44px;text-align: center;text-transform: uppercase;width: 100%;}
.simpleTabs .tabs-nav li {width: 100%;}
.simpleTabs .tabs-stage {border: 1px solid hsl(210, 6%, 79%);-webkit-border-radius: 0 0 6px 6px;-moz-border-radius: 0 0 6px 6px;-ms-border-radius: 0 0 6px 6px;-o-border-radius: 0 0 6px 6px;border-radius: 0 0 6px 6px;border-top: 0;clear: both;margin-bottom: 20px;position: relative;top: -1px;width: 100%;}
.simpleTabs .tabs-stage div:nth-child(odd) {background-color: var(--amber);}
.simpleTabs .tabs-stage div:nth-child(even) {background-color: var(--purple);}
.simpleTabs .tabs-stage p { margin: 0; padding: 20px; color: var(--white); }

/* ~~~~~ Login Box CSS ~~~~~ */
.loginBx {width: 100%;display: block;padding: 50px 0;background-color: var(--light-green-cyan);position: relative;z-index: 0;background: 	#008B8B; background-repeat: no-repeat; background-position: center; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;}
.loginBx .login_box {  /*position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);*/margin: 0 auto; width: 100%;max-width: 900px; padding: 2em 2em 3em; -webkit-box-shadow: -2px 7px 37px 8px rgba(0, 0, 0, 0.52); -moz-box-shadow: -2px 7px 37px 8px rgba(0, 0, 0, 0.52); box-shadow: -2px 7px 37px 8px rgba(0, 0, 0, 0.52); background: rgba(255, 251, 251, 0.16); border-radius: 5px; }
.loginBx .login_box input { width: 100%; color: #000000; outline: none; font-size: 14px; padding: 0.8em 0.7em; margin: 0px 0px 23px; border: none; border-radius: 4px; display: inline-block; background: #fff; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; box-sizing: border-box; }
.loginBx .check { width: 24px; height: 24px;}
.loginBx .btnn { text-align: left; }
.loginBx button[type="submit"]:hover { background: #000000; }
.loginBx button[type="submit"] { width: 35%; background: #f47721; outline: none; color: #fff; font-size: 13px; border: none; border-radius: 4px; padding: 14px 6px; letter-spacing: 1px; text-transform: uppercase; cursor: pointer; transition: 0.5s all; -webkit-transition: 0.5s all; -o-transition: 0.5s all; -moz-transition: 0.5s all; -ms-transition: 0.5s all; }
.loginBx .for { font-size: 13px; padding: 2.2em 0em 1em; color: #fff; text-align: center; display: block; letter-spacing: 1px; text-transform: uppercase; }
.loginBx .login_box .tab.active, 
.loginBx .login_box .tab:hover { border-bottom: 2px solid #fff; }
.loginBx .login_box .tab { color: #fff; width: 50%; text-align: center; text-transform: capitalize; font-size: 1.3em; cursor: pointer; display: inline-block; margin: 0; outline: none; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; width: 50%; background: rgba(245, 245, 245, 0); padding: 8px 0; border-bottom: 2px solid #000; }
.loginBx ul {margin: 0 0 40px;padding: 0;display: flex;flex-wrap: wrap;justify-content: center;width: 100%;}
.loginBx ul li { list-style: none; display: inline-block; }
.loginBx ul li a { text-decoration: none; color: #fff; }
.loginBx .icon_head h2 {font-size: 30px;color: #fff;font-weight: bold;text-align: center;margin: 0 0 30px;}
.loginBx .tab__container { width: 100%; display: none; }
.loginBx .tab__container div {display: block;}
.loginBx .tab__container.active { display: block; }



/* ~~~~~ bxHoverBgChange CSS ~~~~~ */
.bg-body { background-color: #000; color: #ffffff; transition: all ease-in-out 0.2s;width: 100%;display: block;padding: 100px 0;background-color: var(--white);position: relative;z-index: 0; }
.bg-body ul { list-style: none;gap: 50px; display: flex; flex-wrap: wrap; justify-content: space-between; text-align: center;  align-items: center; }
.bg-body ul li { cursor: pointer;padding: 2.5rem; width: 30%; border: 1px solid var(--black);color: var(--black);}
.bg-body ul li .fa { font-size: 40px; margin: 20px auto; }
.bg-body.red { background: red; }
.bg-body.green { background: green; }
.bg-body.yellow { background: yellow; }
.bg-body.blue { background: blue; }
.bg-body.cyan { background: cyan; }
.bg-body.orange { background: orange; }



/* ~~~~~ imageHoverBx CSS ~~~~~ */
.imageHoverBx {width: 100%;display: block;padding: 50px 0;background-color: var(--purple);position: relative;z-index: 0;}
.imageHoverBx .imghoverMain {text-align: center;display: flex;justify-content: center;gap: 20px; align-items: center;flex-wrap: wrap;width: 100%;margin: 0 auto;}
.imageHoverBx .box { border: 1px solid #fff; width: 30%; height: 300px; background: #000; overflow: hidden; position: relative; cursor: pointer; }
.imageHoverBx .box .image { position: relative; top: 0; left: 0; width: 100%; height: 100%; display: flex; }
.imageHoverBx .box .image span { width: 25%; height: 100%; background: url(https://pixelcog.github.io/parallax.js/img/reflection-nebula-750x763.jpg); transition: all 0.3s ease-in-out; }
.imageHoverBx .box .image span:nth-child(1) { background-position: 0; transition-delay: 0.1s; }
.imageHoverBx .box .image span:nth-child(2) { background-position: 33.33%; transition-delay: 0.2s; }
.imageHoverBx .box .image span:nth-child(3) { background-position: 66.66%; transition-delay: 0.3s; }
.imageHoverBx .box .image span:nth-child(4) { background-position: 100%; transition-delay: 0.4s; }
.imageHoverBx .box:hover .image span { transform: translateY(-100%); }
.imageHoverBx .box .content { background: #333; color: #ffffff; width: 100%; height: 100%; transition: 0.3s; transition-delay: 0.5s; }
.imageHoverBx .box:hover .content { transform: translateY(-100%); }
.imageHoverBx .box .content h2 { font-size: 30px; padding: 20px 0; }
.imageHoverBx .box .content p { font-size: 16px; padding: 0 15px; }


/* ~~~~~ imageHoverBx CSS ~~~~~ */
.footer {width: 100%;display: block;padding: 50px 0;background-color: var(--black);position: relative;z-index: 0;}
.footer .footer-links, .footer .footer-icons { display: flex; justify-content: center; margin-bottom: 1.5rem; flex-wrap: wrap; }
.footer .footer-link { color: var(--white); text-transform: capitalize; font-size: 1rem; margin-right: 1rem; letter-spacing: var(--spacing); transition: var(--transition); }
.footer .footer-link:hover { color: var(--amber); }
.footer .footer-icon { font-size: 2rem; margin-right: 1rem; color: var(--white); transition: var(--transition); }
.footer .footer-icon:hover { color: var(--amber); }
.footer .copyright { text-transform: capitalize; letter-spacing: var(--spacing); color: var(--white);text-align: center; }
.footer .copyright a {color: var(--white);}
.footer .copyright a:focus,.footer .copyright a:hover { color: var(--amber); }
.footer .copyright span { margin-left: 0.5rem; }